<div class="main-content about-us">
    <div class="blue-section">
        <div class="container">
            <div class="row wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s" style="color:white; visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInUp;">
                <div class="col-md-12">
                    <h3>About Us</h3>
                    <ul class="breadcrumb">
                        <li>
                            <a href="index.html">
                                <i class="fa fa-home"></i>Home</a>
                        </li>
                        <li class="active">About Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="padding-bottom:3em">
        <div class="row" style="padding-top:2em">
            <div class="col-md-6">
                <img src="../../assets/images/feature.jpg" class="img-responsive frame" alt=""> </div>
            <!-- end .col-md-6 -->

            <div class="col-md-6">
                <h3>Who is
                    <strong>Ahem</strong>
                </h3>
                <div class="titleline"></div>
                <!-- end .titleline -->
                <p>
                    <span class="dropcap-theme">A</span> At AHEM, we apply science and our global resources to give people that extend and significantly improve their lives. We strive to set the standard for quality, safety and value in the discovery,
                    development and manufacture of health care products. Every day, AHEM works across developed and emerging markets to advance wellness, prevention, treatments and cures that challenge diseases of our time. Consistent with our responsibility
                    as one of the world&#39;s premier innovative biopharmaceutical companies, we collaborate with health care providers, governments and local communities to support and expand access to reliable, affordable health care around the world.
                    AHEM has worked to make a difference for all who rely on us.</p>
                <p>
                    As a recognized and responsible company, NOURISH HEALTHCARE is making significant contributions to medical science, as well as helping to support the quality of life for everyone. We strive to advance the science and technology of the pharmaceutical as
                    well as nutraceutical industry for the greater benefit of humankind.
                </p>
            </div>
        </div>
        <div class="col-md-12" style="height:20px"></div>
        <div class="col-md-12">
            <p>
                <strong> Pharmaceutical </strong>
                <br> Pharmaceutical industry discovers, develops, produces, and markets drugs or pharmaceuticals for use as medications. Pharmaceutical companies may deal in generic or brand medications and medical devices. They are subject to a variety
                of laws and regulations that govern the patenting, testing, safety, efficacy and marketing of drugs
                <br>
                <br>
                <strong>Nutraceutical </strong>
                <br> Nutraceutical, the term is applied to products that range from isolated nutrients, dietary supplements and herbal products, specific diets and processed foods.
                <br>
                <strong>
          <br> Ayurveda</strong>
                <br> Ayurveda medicine, is a system of medicine with historical roots in the Indian subcontinent. Globalized and modernized practices derived from Ayurveda traditions are a type of complementary or alternative medicine. </p>
        </div>
    </div>
    <div class="Lowertb  mvv">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>
                        <a id="mission"></a>Mission</h1>
                    <p>Our mission is to provide top quality pharmaceutical products for the promotion of good health. We are a relationship driven pharmaceutical manufacturing company to help people live healthier lives, and feel healthier through the research
                        and production of premiere High Quality Pharmaceutical and Nutraceutical Product’ . We are committed to provide our clients with accurate results, delivered on time, with professional service that adds value to our client's businesses.
                        We aim to achieve our goals with uncompromising ethics, honesty, personal integrity and confidentiality.
                        <br>
                        <br> We are dedicated to consistently extend the service of pharmaceuticals to medical fraternity in their Nobel causes of treating masses at an affordable cost.
                    </p>
                </div>
            </div>
            <hr class="mvv-hr">
            <div class="divider-singledotted"></div>
            <!-- end .divider-singledotted -->
            <div class="mb-30"></div>
            <!-- end .mb-30 -->
            <div class="row">
                <div class="col-lg-12">
                    <h1>
                        <a id="vision"></a>Vision</h1>
                    <p>Our vision is to constantly upgrade our technology and skills to meet the challenges of pharmaceutical sector. NOURISH HEALTHCARE wants toenhance its scientific expertise to develop and improve products and product line extensions
                        for the service of ailing humanity.</p>
                </div>
            </div>
            <hr class="mvv-hr">
            <div class="divider-singledotted"></div>
            <!-- end .divider-singledotted -->
            <div class="mb-30"></div>
            <!-- end .mb-30 -->

            <div class="row">
                <div class="col-lg-12">
                    <h1>
                        <a id="values"></a>Our Values</h1>
                    <p>Improving the quality of life for our customers by providing - immaculate quality products and services. Being Innovative in products, presentation, services.</p>
                </div>
            </div>
        </div>

    </div>
    <!-- end .col-md-6 -->

</div>