<div class="main-content about-us">
    <div class="blue-section">
        <div class="container">
            <div class="row wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s" style="color:white; visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInUp;">
                <div class="col-md-12">
                    <h3>Quality</h3>
                    <ul class="breadcrumb">
                        <li>
                            <a href="index.html">
                                <i class="fa fa-home"></i>Home</a>
                        </li>
                        <li class="active">Quality</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="padding-bottom:3em">
        <div class="row" style="padding-top:2em">
            <div class="col-md-6">
                <img src="../../assets/images/quality.jpg" class="img-responsive frame" alt=""> </div>
            <!-- end .col-md-6 -->

            <div class="col-md-6">
                <h3>
                    <strong>Quality</strong>
                </h3>
                <div class="titleline"></div>
                <!-- end .titleline -->
                <p style="font-size:14px">
                    <span class="dropcap-theme">A</span>At AHEM LIFE CARE, Quality Assurance Professionals are regularly trained and updated in tune with the latest International developments, while the Quality Control department is regularly equipped
                    with latest &amp; best of instruments. Through International up-date and in house R&amp;D, we are committed to develop and acquire products which are completely safe, very effective and are value for money. The raw material for the
                    products are sourced through most authentic suppliers and are tested for quality, before being used for product manufacturing.
                </p>

                <p style="font-size:14px">
                    We attribute our success to focus on high quality practices, employees involvement, and continuous improvement through continuous hard work and devotion.
                </p>
            </div>
        </div>

    </div>
    <div class="Lowertb  mvv">
        <div class="container">
            <div class="row wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInUp;">
                <div class="col-md-12">
                    <h1>Highlights</h1>
                </div>
                <div class="col-md-6">
                    <ul style="line-height:30px">
                        <li>Quality Assurance is independence of Manufacturing.</li>
                        <li>In-Process quality is checked during manufacturing.</li>
                        <li>Validation of facilities, equipment’s, process, products &amp; cleaning as per Master Plan.</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul style="line-height:30px">
                        <li>Storage of quality record and control samples, Stability Studies.</li>
                        <li>Complaint Handling.</li>
                    </ul>

                </div>
            </div>
        </div>

    </div>
    <!-- end .col-md-6 -->

</div>