<div class="scrollToTop">
	<i class="icon-up-open-big"></i>
</div>

<!-- header start -->
<!-- ================ -->
<header class="header navbar fixed-top clearfix  ">
<!-- <div class="container"> -->
<div class="row">
	<div class="col-md-2 col-sm-10 ahem-logo">

		<!-- header-left start -->
		<!-- ================ -->
		<div class="header-left clearfix">

			<!-- logo -->
			<div class="logo smooth-scroll">
				<a href="#banner">
					<img id="logo" src="http://ahemlifecare.com/images/logo.png" alt="Ahem Life Care" style="height: 74px;width: 120px;">
				</a>
			</div>

			<!-- name-and-slogan
						<div class="site-name-and-slogan smooth-scroll">
							<div class="site-name"><a href="#banner">Worthy</a></div>
							<div class="site-slogan">Free Bootstrap Theme by <a target="_blank" href="http://htmlcoder.me">HtmlCoder</a></div>
						</div> -->

		</div>
		<!-- header-left end -->

	</div>
	<div class="col-md-10 col-sm-1">

		<!-- header-right start -->
		<!-- ================ -->
		<div class="header-right clearfix">

			<!-- main-navigation start -->
			<!-- ================ -->
			<div class="main-navigation animated">

				<!-- navbar start -->
				<!-- ================ -->
				<nav class="navbar navbar-default" role="navigation">
					<div class="container-fluid">

						<!-- Toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse scrollspy smooth-scroll" id="navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
								<li [ngClass]="currentTab=='home'?'active':''">
									<a routerLink="/Home" (click)="currentTab='home'">Home</a>
								</li>
								<li [ngClass]="currentTab=='about'?'active':''">
									<a routerLink="/AboutUs" (click)="currentTab='about'">About Us</a>
								</li>
								<li [ngClass]="currentTab=='product'?'active':''">
									<a routerLink="/" (click)="currentTab='product'">Products</a>
								</li>
								<li [ngClass]="currentTab=='manufacturing'?'active':''">
									<a routerLink="/Manufacturing" (click)="currentTab='manufacturing'">Manufacturing</a>
								</li>
								<li [ngClass]="currentTab=='quality'?'active':''">
									<a routerLink="/Quality" (click)="currentTab='quality'">Quality</a>
								</li>
								<li [ngClass]="currentTab=='strategic'?'active':''">
									<a routerLink="/StrategicAlliance" (click)="currentTab='strategic'">Strategic Alliance</a>
								</li>
								<li [ngClass]="currentTab=='contactus'?'active':''">
									<a routerLink="/ContactUs" (click)="currentTab='contactus'">Contact Us</a>
								</li>
							</ul>
						</div>

					</div>
				</nav>
				<!-- navbar end -->

			</div>
			<!-- main-navigation end -->

		</div>
		<!-- header-right end -->

	</div>
	<div class="col-xs-1 col-sm-1"></div>
</div>
<!-- </div> -->
</header>
<!-- header end -->

<!-- banner start -->
<!-- ================ -->
<!-- <div id="banner" class="banner">
			<div class="banner-image"></div>
			<div class="banner-caption">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 object-non-visible" data-animation-effect="fadeIn">
							<h1 class="text-center">We are <span>Worthy</span></h1>
							<p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos debitis provident nulla illum minus enim praesentium repellendus ullam cupiditate reiciendis optio voluptatem, recusandae nobis quis aperiam, sapiente libero ut at.</p>
						</div>
					</div>
				</div>
			</div>
		</div> -->
<!-- banner end -->
<!-- <div class=""></div> -->

<router-outlet></router-outlet>
<div id="copyright">
		<div class="container">
		  <div class="row">
			<div class="col-md-6">
			  <p>© 2016.  Ahem Life Care . All Rights Reserved. <font size="-2px" style="padding-left:10px">Designed by <a href="http://www.crinnodesigns.com" target="_blank">@ Solutions</a></font></p>
			</div>
			<!-- end .col-md-8 -->
			
			<div class="col-md-6">
			  <ul class="copyright-link">
				<li><a routerLink="/Home" (click)="currentTab='home'">Home</a></li>
				<li><a routerLink="/AboutUs" (click)="currentTab='about'">About Us </a></li>
				<li><a routerLink="/" (click)="currentTab='product'">Products</a></li>
				<li><a routerLink="/Mannufacturing" (click)="currentTab='manufacturing'">Manufacturing</a></li>
				<li><a routerLink="/Quality" (click)="currentTab='quality'">Quality</a></li>
				<li><a routerLink="/StrategicAlliance" (click)="currentTab='strategic'">Strategic Alliance</a></li>
				<li><a routerLink="/ContactUs" (click)="currentTab='contactus'">Contact Us</a></li>
			  </ul>
			</div>
			<!-- end .col-md-4 --> 
			
		  </div>
		  <!-- end .row --> 
		</div>
		<!-- end .container --> 
	  </div>