<div class="main-content about-us">
    <div class="blue-section">
        <div class="container">
            <div class="row wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s" style="color:white; visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInUp;">
                <div class="col-md-12">
                    <h3>Strategic Alliance</h3>
                    <ul class="breadcrumb">
                        <li>
                            <a href="index.html">
                                <i class="fa fa-home"></i>Home</a>
                        </li>
                        <li class="active">Strategic Alliance</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="padding-bottom:3em">
        <div class="row" style="padding-top:2em">
            <div class="col-md-6">
                <img src="../../assets/images/sa.jpg" class="img-responsive frame" alt=""> </div>
            <!-- end .col-md-6 -->

            <div class="col-md-6">
                <h3>
                    <strong>Strategic Alliance</strong>
                </h3>
                <div class="titleline"></div>
                <!-- end .titleline -->
                <p style="font-size: 14px">
                    Our company has established its presence across India in many African and Asian countries. NOURISH HEALTHCARE will continue to expand its products service across the globe to fulfill its aim of becoming a world class company with top notch quality and
                    efficacy. We are committed to help heal the suffering of the world by giving people access to the benefits of powerful, science-based micronutrients in form of pharmaceuticals. We are dedicated to innovating new products and providing
                    accurate and timely service of these well-researched extracts for afflicted society.
                </p>
                <strong style="font-size:16px">Business  Oppotunity</strong>

                <p style="font-size: 14px ">
                    <br/>NOURISH HEALTHCARE is always open for an intelligent, perceptive individuals and companies who welcome challenge and are willing to give it everything. At NOURISH HEALTHCARE we offer the Opportunity of long term partnership, personal
                    growth and advancement. We foster an environment of innovation, teamwork, and perseverance.
                </p>

            </div>
            <div class="col-md-12" style="padding-top:2em">
                <p style="font-size: 14px"> AHEM LIFECARE is seeking distributor/Franchisee/Agents for local & worldwide marketing. We also undertakes third party manufacturing to serve quality Pharmaceutical and Nutraceutical products for new customers and companies in India and
                    across globe. We offer most stable and Lifetime opportunities to franchise operators (distributorship) all over India and across the country for vacant areas. Third Party Manufacturing services offered are handled using latest technology
                    based production machines as well as experienced industry professionals which allow us to successfully handle the demands of Third Party Manufacturing.
                </p>
                <p style="font-size: 14px">
                    We work efficiently to provide quality products at the right price in the committed time period to our esteemed customers. Company can help marketers to develop their required formulation/ products and also can support with small optimum feasible batch
                    sizes which helps to restrict or reduce in investment. We are also open for new innovative formulations and will be glad to make for our clients if feasible.
                </p>
            </div>
        </div>

    </div>
    <div class="Lowertb  mvv">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>
                        <a id="mission"></a>Mission</h1>
                    <p>Our mission is to provide top quality pharmaceutical products for the promotion of good health. We are a relationship driven pharmaceutical manufacturing company to help people live healthier lives, and feel healthier through the research
                        and production of premiere High Quality Pharmaceutical and Nutraceutical Product’ . We are committed to provide our clients with accurate results, delivered on time, with professional service that adds value to our client's businesses.
                        We aim to achieve our goals with uncompromising ethics, honesty, personal integrity and confidentiality.
                        <br>
                        <br> We are dedicated to consistently extend the service of pharmaceuticals to medical fraternity in their Nobel causes of treating masses at an affordable cost.
                    </p>
                </div>
            </div>
            <hr class="mvv-hr">
            <div class="divider-singledotted"></div>
            <!-- end .divider-singledotted -->
            <div class="mb-30"></div>
            <!-- end .mb-30 -->
            <div class="row">
                <div class="col-lg-12">
                    <h1>
                        <a id="vision"></a>Vision</h1>
                    <p>Our vision is to constantly upgrade our technology and skills to meet the challenges of pharmaceutical sector. NOURISH HEALTHCARE wants toenhance its scientific expertise to develop and improve products and product line extensions
                        for the service of ailing humanity.</p>
                </div>
            </div>
            <hr class="mvv-hr">
            <div class="divider-singledotted"></div>
            <!-- end .divider-singledotted -->
            <div class="mb-30"></div>
            <!-- end .mb-30 -->

            <div class="row">
                <div class="col-lg-12">
                    <h1>
                        <a id="values"></a>Our Values</h1>
                    <p>Improving the quality of life for our customers by providing - immaculate quality products and services. Being Innovative in products, presentation, services.</p>
                </div>
            </div>
        </div>

    </div>
    <!-- end .col-md-6 -->

</div>