<div class="main-content about-us">
    <div class="blue-section">
        <div class="container">
            <div class="row wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s" style="color:white; visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInUp;">
                <div class="col-md-12">
                    <h3>About Us</h3>
                    <ul class="breadcrumb">
                        <li>
                            <a href="index.html">
                                <i class="fa fa-home"></i>Home</a>
                        </li>
                        <li class="active">About Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-12">
            <h3>Manufacturing</h3>
            <div class="titleline"></div>
            <!-- end .titleline -->
        <div class="row" style="padding-top:2em; padding-bottom:2em">
            <ul class="nav nav-pills nav-stacked col-md-2">
                <li class="active">
                    <a href="#tab_a" data-toggle="pill">Manufacturing</a>
                </li>
                <li>
                    <a href="#tab_b" data-toggle="pill">Supply Chain Management</a>
                </li>
                <li>
                    <a href="#tab_c" data-toggle="pill">Contract Manufacturing</a>
                </li>
            </ul>
            <div class="tab-content col-md-10">
                <div class="tab-pane active" id="tab_a">
                    <h4>Manufacturing</h4>
                    <p>NOURISH HEALTHCARE is Pharmaceutical Formulation Manufacturing Company equipped with state-of-the-art
                        manufacturing facilities at Sarkhej, located at 2.5 km from Sardar Patel Ring Road, on National Highway
                        No 8 in Ahmedabad, the commercial capital of Gujarat. The built-up area is 1500 sq. yards. on Ground
                        Floor and 1500 sq. yards. on first floor. All buildings are RCC frame structure and infilling wall
                        Plastered and having dado of impervious material up to 1.2M height. All doors and windows are of
                        Aluminium frame and steel / glass.Due consideration of Industrial Engineering has been given in the
                        designing of the factory to meet the Good Manufacturing Practices.
                        <br>
                        <br> Manufacturing facilities are for the following forms of product:
                    </p>
                    <div style="padding-top:20px; padding-bottom:20px; padding-left:2px">
                        <img src="./../../assets/images/sa.jpg" class="img-responsive frame" alt=""> </div>
                    <!-- end .col-md-6 -->
                    <strong>Production Capacity</strong>
                    <br> The plant is equipped with modern machines &amp; inline packing machines, to be cost efficient. With
                    good capacities &amp; scope for future expansion- it is capable of manufacturing various dosage forms.
                    <br>
                    <br>
                    <strong>Manufacturing Excellence</strong>
                    <br>
                    <li>State-of-the art facilities, which adhere to stringent specifications of GMP.</li>
                    <li>Manufacturing Operation Management handled with ERP implementation programme byhighly qualified and trained
                        staff.
                    </li>
                    <li>No wood or asbestos component.</li>
                    <li>Each zone has separate AHU's (Air Handling Units).</li>
                    <li>Segregation of every critical processing activity in separate section, to avoid cross contamination.
                    </li>
                    <li>Conformation of each processing stage with GMP guidelines with respect to room air changes, pressure
                        etc.
                    </li>
                    <li>Water from Reverse Osmosis (RO) water system &amp; De- Mineralised (DM) water Plant</li>
                    <li>Air conditioning provided wherever required in process, raw material, packing material &amp; finished
                        goods stores.</li>
                    <li>All the Manufacturing Section equipped with GMP Compliance Machinery.</li>
                    <p></p>

                </div>
                <div class="tab-pane" id="tab_b">

                    <h4>Supply Chain Management</h4>
                    <p>Supply Chain Management activities at the manufacturing plant mainly include: Production Planning / Inventory
                        Control / Warehousing / Information Technology. It Co-ordinates with the procurement division, for
                        timely availability of inputs and with the marketing department, to make all products available timely,
                        as per the requirements.
                        <br>
                        <br>
                        <strong>Production Planning and Control:</strong>
                        <br> • It is one of the core functions of all the manufacturing activities.
                        <br>
                        <br>
                        <strong>Activities Include:</strong>
                        <br> • Production Planning
                        <br> • Indent of raw material and packaging material.
                        <br> • Inventory monitoring to meet with marketing requirements.
                        <br>
                        <br>
                        <strong>Raw material Stores:</strong>
                        <br> • R.M. Stores has controlled environment storage for active and Inactive raw materials.
                        <br> • Dispensing of Raw material as per prevailing GMP norms and SOPs.
                        <br>
                        <br>
                        <strong>Facilities:</strong>
                        <br>
                        <br> • Separate Areas like Receipt, Under Test and approved raw materials.
                        <br> • Separate Sampling Booths.
                        <br> • Separate Dispensing Booths.
                        <br>
                        <br>
                        <strong>Packing Material Stores:</strong>
                        <br>
                        <br> • Separate area for Receipt / Under Test and Approved Materials.
                        <br> • All packaging materials are stored as per GMP Guidelines and procedures laid down in SOPs.
                        <br> • Maintaining controlled environment for primary packaging materials.
                        <br> • Dispensing batch-wise as per SOPs.
                        <br>
                        <br>
                        <strong>Bonded Store Room (BSR):</strong>
                        <br> • Formulations are kept in BSR in controlled environmental conditions.
                        <br>
                        <br>
                        <strong>Information Technology (I.T.):</strong>
                        <br> • Helps to maintain manufacturing and distribution/Sales activities. </p>

                </div>
                <div class="tab-pane" id="tab_c">

                    <h4>Contract Manufacturing</h4>
                    <p>Nourish Healthcare Offer Contract Manufacturing/Products under Private label for wide range of Pharmaceutical
                        and Nutritional supplements which include Vitamins, Minerals, Amino Acid, Sport nutrition, Anti-Aging,
                        Anti-Oxidants and other in the class of Dietary and Food Supplements.
                        <br>
                        <br> With a broad spectrum of effort and state-of-the- art production equipment, Nourish Healthcare is
                        able to realize customer requirements quickly, reliably, with the highest technical level which result
                        into a mutually beneficial working relationship and a strong strategic alliance.
                        <br>
                        <br> The Quality service delivered by Nourish Healthcare is one major reason that the companies opt to
                        entrust manufacturing of their products with us. Our systems promote consistent quality in production
                        while maintaining cost efficiencies. Our expertise in Contract Manufacturing has won us appreciation
                        across the country and has helped us maintain a clientele that is satisfied with our value based
                        quality services. </p>

                </div>
            </div>
            <!-- tab content -->
        </div>
        </div>
    </div>
    <div class="section blue-section">
            <div class="container">
                <div class="row wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s" style="color:white; visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <div class="col-lg-4" style="padding-right:60px;">
                        <h2>Mission</h2>
                        <p>Our mission is to provide top quality pharmaceutical products for the promotion of good health. We are a relationship driven nutraceutical...
                            <br>
                            <span class="more2">
                  <a href="AboutUs.html#mission">Read More</a>
                </span>
                        </p>
                    </div>
                    <div class="col-lg-4" style="padding-right:40px">
                        <h2>Vision</h2>
                        <p>Our vision is to constantly upgrade our technology and skills to meet the challenges of pharmaceutical sector. NOURISH HEALTHCARE wants to enhance ...
                            <br>
                            <span class="more2">
                  <a href="AboutUs.html#vision">Read More</a>
                </span>
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <h2>Our Values</h2>
                        <p>Improving the quality of life for our customers by providing - immaculate quality products and services. Being Innovative in products, presentation, services.
                            <br>
                            <span class="more2">
                  <a href="AboutUs.html#values">Read More</a>
                </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
</div>