<div class="main-content about-us">
    <div class="blue-section">
        <div class="container">
            <div class="row wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s" style="color:white; visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInUp;">
                <div class="col-md-12">
                    <h3>About Us</h3>
                    <ul class="breadcrumb">
                        <li>
                            <a href="index.html">
                                <i class="fa fa-home"></i>Home</a>
                        </li>
                        <li class="active">About Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Manufacturing</h3>

                <div class="titleline"></div>

                <!-- tabs left -->
                <div class="tabbable tabs-left">
                    <ul class="nav nav-tabs">
                        <li><a href="#a" data-toggle="tab">Manufacturing</a></li>
                        <li class="active"><a href="#b" data-toggle="tab">Two</a></li>
                        <li><a href="#c" data-toggle="tab">Twee</a></li>
                        <li><a href="#d" data-toggle="tab">Four</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="a">Lorem ipsum dolor sit amet, charetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero.</div>
                        <div class="tab-pane" id="b">Secondo sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.</div>
                        <div class="tab-pane" id="c">Thirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae. </div>
                        <div class="tab-pane" id="d">Four numero 4 damuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae. </div>
                    </div>
                </div>
                <!-- /tabs -->

            </div>
        </div>
        <!-- /row -->
    </div>

</div>