<div class="main-content about-us">
    <div class="blue-section">
        <div class="container">
            <div class="row wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s" style="color:white; visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInUp;">
                <div class="col-md-12">
                    <h3>Contact Us</h3>
                    <ul class="breadcrumb">
                        <li>
                            <a href="index.html">
                                <i class="fa fa-home"></i>Home</a>
                        </li>
                        <li class="active">Contact Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="sidebar">
                    <h3>CONTACT NFORMATION</h3>
                    <div class="titleline"></div>
                    <!-- end .titleline -->
                    Please Use the Contact foName ￼ Name E-mail rm on the right side if you have any question or requests, concerning our products or services.<br><br> We will respond in your message within 24 hours.<br> Below you can find a quick roadmap
                    to get to our office.
                    <hr class="mvv-hr">
                    <!-- end .divider-singledotted -->
                    <ul class="sidebar-info">
                        <div class="contact-content">
                            <li>
                                <span>AHEM LIFECARE (Admin Office)</span></li>
                            <li>
                                <i class="fa fa-map-marker"></i><span>Office Address:</span> 518/1, NR. UJALA AVENUE, OPP. VISHALA HOTEL, <br/> VISHALA-NAROL ROAD, AHMEDABAD-380 055. (GUJARAT).
                            </li>

                        </div>
                        <hr class="mvv-hr">
                        <!-- end .divider-singledotted -->
                        <div class="contact-content">
                            <li>
                                <span>AHEM LIFECARE (Manufacturing Division)</span></li>
                            <li><i class="fa fa-map-marker"></i><span>Factory:</span> 654, SHYAM-II,NR. UNISON,MORIAYA, CHANGODAR, <br/> DIST. AHMEDABAD-382 213 (GUJARAT), INDIA
                            </li>

                        </div>
                        <hr class="mvv-hr">
                        <!-- end .divider-singledotted -->

                        <li><span>SALE & CONTACT / INQUIRY 
                      </span>
                        </li>
                        <li><i class="fa fa-phone"></i> +91992 554 2784 - <b>(SALIM KHAN)</b></li>
                        <li><i class="fa fa-phone"></i> +91987 919 4272 - <b>(AAMIR KHAN)</b></li>
                        <li><i class="fa fa-envelope"></i> <a href="mailto:ahemlifecare@gmail.com" target="_blank">ahemlifecare@gmail.com</a><br>
                            <br/>
                    </ul>
                </div>
                <!-- end .sidebar -->
                <div class="mb-40"></div>
                <!-- end .mb-40 -->

            </div>
            <!-- end .col-md-4 -->

            <div class="col-md-4">
                <div class="contactform">
                    <h3><strong>REACH</strong> US</h3>
                    <div class="titleline"></div>
                    <!-- end .titleline -->
                    <form id="commentForm" class="cmxform" method="post" action="contact.php" novalidate="novalidate">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="cname">Name <i class="fa fa-asterisk"></i></label>
                                <input id="cname" class="form-control" name="name" minlength="2" type="text" placeholder="Name" required="" aria-required="true">
                            </div>
                            <div class="col-md-12 contact-form">
                                <label for="cemail">E-mail <i class="fa fa-asterisk"></i></label>
                                <input id="cemail" class="form-control" type="email" name="email" placeholder="E-mail" required="" aria-required="true">
                            </div>
                            <div class="col-md-12 contact-form">
                                <label for="subject">Subject <i class="fa fa-asterisk"></i></label>
                                <input id="subject" class="form-control" type="text" name="subject" placeholder="Subject" required="" aria-required="true">
                            </div>
                            <div class="col-md-12 contact-form">
                                <label for="ccomment">Message <i class="fa fa-asterisk"></i></label>
                                <textarea id="ccomment" class="form-control" name="comment" placeholder="Message" required="" aria-required="true"></textarea>
                            </div>
                            <div class="col-md-12 contact-form">
                                <label>Anti-spam 2+5= <i class="fa fa-asterisk"></i></label>
                                <input class="answer form-control" name="answer" required="" aria-required="true">
                            </div>
                            <div class="col-md-12 contact-form">
                                <input class="submit btn btn-primary" name="submit" type="submit" value="Submit">
                            </div>
                        </div>
                    </form>
                    <div id="message"></div>
                    <!-- end #message -->
                </div>
                <!-- end .contactform -->

            </div>
            <!-- end .col-md-4 -->
        </div>
        <div id="map">
            <div style="text-decoration:none; overflow:hidden; height:400px; max-width:100%;">
                <div id="gmap-canvas" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Ahemlifecare.,AL+Amir+Park+Road,+Unit+Hills+Society,+Rehnuma+Society,+Juhapura,+Ahmedabad,+Gujarat,+India&amp;key=AIzaSyBe185C7X4kjzbUj6PnK9RS-dh5zSi0zQA"></iframe></div>

            </div>
            <!-- end .col-md-6 -->

        </div>